@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --beige: #eeeeee;
  --gray: #cccccc;
  --white: #ffffff;
  --black: #2b2b2b;
  --blue: #a0bfdc;
  --font-main: "Montserrat", sans-serif;
  --font-light: "Alumni Sans Pinstripe", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
  background: none;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

:focus {
  outline: none;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
  font-size: 18px;
  overflow-x: hidden;
}

body {
  font-family: var(--font-main);
  line-height: 1.6;
  background-color: var(--white);
  background-image: url(images/body.jpg);
  background-repeat: no-repeat;
  color: var(--black);
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin-inline: auto;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
}

/* Header */
.header {
  width: 100%;
  background-color: var(--white);
  position: relative;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  background-color: var(--blue);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.logo-main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}
.logo-main img {
  width: 160px;
  height: 93px;
  object-fit: cover;
}

.logo-img {
  max-width: 360px;
  margin: auto;
}

.logo {
  font-size: 1.5rem;
  color: var(--beige);
  text-transform: uppercase;
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: end;
  line-height: 1.2;
}

.logo span {
  display: flex;
  align-items: flex-end;
  font-family: var(--font-light);
  text-shadow: 0 2px 8px rgba(144, 181, 187, 0.5);
}

.nav ul {
  display: flex;
  gap: 20px;
}

.nav a {
  font-weight: 400;
  color: var(--black);
  position: relative;
  transition: color 0.3s ease;
}

.active.nav a {
  color: var(--white);
}

.nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0%;
  height: 1px;
  background-color: var(--black);
  transition: width 0.3s ease;
}

.nav a:hover::after,
.nav a.active::after {
  width: 40%;
}

.btn {
  position: relative;
  display: inline-flex;
  padding: 1.5px; /* ТОНКИЙ БОРДЕР */
  border-radius: 60px;
  text-decoration: none;

  /* ВИДИМИЙ БОРДЕР */
  background: linear-gradient(135deg, #6fa6d8, #b7d3ee, #6fa6d8);
}

.btn span {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 12px 28px;
  border-radius: 58px;

  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.6px;
  color: var(--black);

  background: linear-gradient(
    120deg,
    #e8f1fb 0%,
    #c7dbf0 30%,
    #a0bfdc 50%,
    #c7dbf0 70%,
    #e8f1fb 100%
  );
  background-size: 220% 100%;
  background-position: center;

  box-shadow:
    inset 0 0 0 1px rgba(255, 255, 255, 0.9),
    0 10px 28px rgba(111, 166, 216, 0.495);

  transition:
    background-position 0.8s cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 0.4s ease;
}

.btn:hover span {
  background-position: left center;
  box-shadow:
    inset 0 0 0 1px rgba(255, 255, 255, 0.85),
    0 14px 36px rgba(111, 166, 216, 0.55);
}

.btn span i {
  font-size: 20px;
  padding-right: 10px;
  display: inline-block;
}

.phone-icon {
  display: inline-block;
  animation: pulse 1.2s infinite ease-in-out;
  transform-origin: center;
}

/* Pulse animation */
@keyframes pulse {
  0%,
  100% {
    transform: scale(1) rotate(0deg);
  }
  50% {
    transform: scale(1.2) rotate(15deg);
  }
}

.menu-icon {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 19px;
  height: 12px;
  cursor: pointer;
}

.menu-icon span {
  display: block;
  height: 2px;
  background-color: var(--beige);
  border-radius: 3px;
  transition: all 0.3s ease;
  box-shadow: 0 2px 8px rgba(187, 162, 144, 0.5);
}

.menu-icon.active span:nth-child(1) {
  transform: rotate(45deg) translate(0px, 3px);
}

.menu-icon.active span:nth-child(2) {
  opacity: 0;
}

.menu-icon.active span:nth-child(3) {
  transform: rotate(-45deg) translate(4px, -7px);
}

@media (max-width: 1048px) {
  .nav {
    position: absolute;
    top: 105px;
    right: -100%;
    width: 100%;
    border-radius: 30px;
    height: max-content;
    margin-top: 20px;
    padding: 60px 30px;
    background-color: var(--blue);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: right 0.3s ease;
    box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
  }

  .nav.active {
    right: 0;
  }

  .nav ul {
    flex-direction: column;
    gap: 25px;
    align-items: center;
  }

  .call-btn {
    display: none;
  }
  .nav ul li a {
    color: var(--white);
    font-size: 1.1rem;
  }

  .menu-icon {
    display: flex;
  }
}

.hero {
  padding: 50px 20px 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  position: relative;
}

.hero-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}

.hero-photo img {
  height: 600px;
  object-fit: cover;
}

.hero-text {
  flex: 1 1 400px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 10;
}

.hero-text h1.logo,
.big.logo {
  margin-bottom: 15px;
  align-items: center;
  font-size: 60px;
  font-family: var(--font-main);
  text-align: center;
  color: var(--blue);
  font-weight: 400;
}

.hero-text h1.logo span,
.big.logo span {
  color: var(--black);
  font-size: 2rem;
  margin-bottom: 2rem;
}

.hero-text h1.logo i,
.big.logo i {
  color: var(--blue);
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-text p {
  font-family: var(--font-main);
  font-size: 1.3rem;
  margin-bottom: 20px;
  line-height: 1.5;
  font-weight: 300;
  text-align: center;
}

.hero-text p span {
  font-weight: 600;
  font-size: 2rem;
  color: var(--blue);
}

.hero-text .btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 15px rgba(187, 162, 144, 0.4);
}

.list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.list .circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  color: var(--white);
  display: flex;
  font-size: 0.8rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  line-height: 1.2;
  text-shadow: 0 2px 8px rgba(187, 162, 144, 0.5);
  text-transform: uppercase;
  margin: -8px;
  background-color: var(--blue);
  box-shadow: 0 2px 8px rgba(187, 162, 144, 0.5);
}

@media (max-width: 992px) {
  .logo {
    text-align: left;
    justify-content: start;
    align-items: start;
    font-size: 1rem;
  }
  .hero-container {
    flex-direction: column;
    text-align: center;
    gap: 0;
  }

  .hero-text h1 {
    font-size: 1.8rem;
  }

  .hero-text p {
    font-size: 0.95rem;
  }
}

.experience {
  background-color: var(--blue);
  border-radius: 50px;
  padding: 100px 20px;
  margin: 80px auto;
  color: var(--white);
  text-align: center;
  max-width: 1300px;
}

.experience .hero-photo {
  min-width: 545px;
}

.title {
  font-family: var(--font-light);
  text-transform: uppercase;
  font-size: 4rem;
  margin-bottom: 30px;
  text-align: center;
  color: var(--beige);
  letter-spacing: 1px;
  font-weight: 900;
}

.title.blue {
  color: var(--blue);
}

h2.title span {
  font-weight: var(--font-light);
  background-color: white;
  padding: 5px;
  color: var(--black);
}

.experience-description {
  display: flex;
  gap: 30px;
  margin-bottom: 100px;
}

.experience-description > img {
  width: 500px;
}

.experience-description p {
  font-size: 1.2rem;
  max-width: 90%;
  margin: 0 auto;
}

.sub-title {
  color: var(--white);
  margin: 10px auto 60px;
  text-align: center;
  max-width: 700px;
  font-size: 30px;
}

.sub-title p {
  font-weight: 800;
  line-height: 1.3;
  font-family: var(--font-light);
  text-shadow: 0 2px 8px rgba(144, 181, 187, 0.5);
  color: var(--black);
}

.experience-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-bottom: 60px;
}

.exp-item {
  box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 20px;
  text-align: left;
  position: relative;
  transition:
    transform 0.4s ease,
    box-shadow 0.4s ease;
  cursor: default;
  border: 2px solid var(--beige);
}

.exp-item:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
}

.exp-item .number {
  font-size: 3rem;
  color: var(--black);
  position: absolute;
  font-weight: 300;
  right: 15px;
  top: -35px;
  pointer-events: none;
  background-color: var(--blue);
  padding: 0 10px;
  line-height: 1;
}

.exp-item p {
  font-size: 1.1rem;
  line-height: 1.6;
  font-weight: 800;
  font-family: var(--font-light);
  text-shadow: 0 2px 8px rgba(144, 181, 187, 0.5);
  color: var(--black);
  position: relative;
}

.experience-btn {
  margin-top: 20px;
  display: inline-block;
}

@media (max-width: 992px) {
  .experience-grid {
    grid-template-columns: 1fr;
  }

  .exp-item {
    text-align: center;
  }

  .exp-item .number {
    top: -20px;
  }
}

#services {
  position: relative;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 40px;
  position: relative;
  z-index: 10;
}

.services .hero-text {
  margin: 90px;
}

.services .hero-text p span {
  color: var(--blue);
}

.service-card {
  background: var(--blue);
  border-radius: 50px;
  padding: 30px 22px;
  position: relative;
  text-align: center;
  border: 1px solid rgba(187, 162, 144, 0.2);
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.7s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: inset 0 2px 80px rgba(187, 162, 144, 0.5);
  gap: 20px;
}

.service-card.show {
  opacity: 1;
  transform: translateY(0);
}

.service-card.white {
  background-color: var(--beige);
  color: var(--blue);
}

.service-card.white .btn {
  color: #fff;
  border-color: var(--blue);
  background-color: var(--blue);
}

.service-card.white h3,
.service-card.white p {
  color: var(--blue);
}

.service-card h3 span {
  font-size: 2rem;
  font-weight: 200;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-card h3 {
  margin: 10px 0;
  font-size: 2.5rem;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: 900;

  font-family: var(--font-light);
}

.service-card p {
  font-size: 1.2rem;
  color: #fff;
  margin-bottom: 20px;
  line-height: 1.4;
}

@media (max-width: 768px) {
  .services-grid {
    grid-template-columns: 1fr;
    gap: 20px;
    width: 90vw;
    margin: 0px auto 50px;
  }

  .service-card {
    transform: translateY(60px);
    gap: 0;
  }
}

.reviews {
  padding: 80px 0;
  overflow: hidden;
}

.carousel {
  position: relative;
  width: 100%;
  margin-top: 40px;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease;
  position: relative;
  z-index: 10;
}

.carousel-item {
  flex: 0 0 calc(20% - 20px);
  border-radius: 20px;
  height: 500px;
  transition:
    transform 0.4s ease,
    opacity 0.4s ease;
}

@media (max-width: 768px) {
  .carousel-item {
    flex: 0 0 100%;
    height: 600px;
    object-fit: contain;
  }
}
.arrow-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 22px;
  height: 22px;
  background: none;
  border: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue);
  border-radius: 50%;
  z-index: 200;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.1);
}

.arrow-btn::before,
.arrow-btn::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 2px;
  background-color: var(--white);
  border-radius: 2px;
  top: 50%;
  left: auto;
  transform-origin: left center;
}

.prev-btn::before {
  transform: rotate(45deg);
  top: 48%;
}

.prev-btn::after {
  transform: rotate(-45deg);
}

.prev-btn {
  left: 3px;
}

.next-btn {
  right: 3px;
}

.next-btn::before {
  transform: rotate(135deg);
  left: 30px;
  top: 48%;
}

.next-btn::after {
  transform: rotate(-135deg);
  left: 30px;
}

.reviews .container {
  text-align: center;
}

.reviews .container .btn {
  margin-top: 30px;
}

/* FAQ SECTION */
.faq {
  padding: 120px 0;
}

.faq .logo {
  align-items: center;
}

.faq .title {
  margin-bottom: 0;
}

.faq .btn {
  margin: 30px auto 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
}

.faq .container {
  position: relative;
  z-index: 200;
}

.faq::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  pointer-events: none;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.faq-list {
  max-width: 800px;
  margin: -30px auto 80px;
}

.faq-item {
  overflow: hidden;
  transition: 0.3s ease;
  border-radius: 50px;
  position: relative;
  text-align: center;
  border: 1px solid rgba(187, 162, 144, 0.2);
  transform: translateY(50px);
  transition: all 0.7s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: inset 0 2px 80px rgba(183, 209, 225, 0.5);
  background-color: var(--white);
  margin-bottom: 15px;
}

.faq-item.active {
  background-color: #fff;
  box-shadow: 0 6px 20px rgba(187, 162, 144, 0.35);
}

.faq-question {
  width: 100%;
  padding: 20px 24px;
  font-size: 18px;
  background: none;
  border: none;
  color: var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  text-align: left;
}

.faq-icon {
  font-size: 28px;
  color: var(--black);
  transition: 0.3s ease;
  line-height: 1;
}

.faq-item.active .faq-icon {
  transform: rotate(45deg);
  color: var(--blue);
}

.faq-answer {
  font-size: 16px;
  color: var(--blue);
  max-height: 0;
  overflow: hidden;
  padding: 0 24px;
  transition:
    max-height 0.35s ease,
    padding 0.3s ease;
}

.faq-item.active .faq-question {
  color: var(--black);
  overflow: visible;
}

.faq-item.active .faq-answer {
  padding: 0 24px 20px;
  max-height: 300px;
  color: var(--black);
  text-align: left;
}

@media (max-width: 600px) {
  .faq-question {
    font-size: 16px;
    padding: 16px 18px;
  }
  .faq-answer {
    font-size: 15px;
  }
}

.contact-section {
  padding: 0 0 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.contact-section .btn {
  margin: auto;
}

.contact-section .experience-description {
  margin: auto;
  justify-content: center;
  gap: 70px;
}

.contact-section .experience-description > div {
  text-align: center;
}

.contact-section .logo {
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.contact-container {
  max-width: 1200px;
  margin: 0 auto 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contact-logo img {
  width: 150px;
  filter: brightness(0) invert(1);
}

.contact-menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

.contact-menu a {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  transition: 0.3s;
}

.contact-menu a:hover {
  opacity: 0.7;
}

/* Контакти */
.contact-info a {
  margin: 5px 0;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-socials {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.contact-socials a {
  font-size: 3rem;
}

.social-icon {
  color: var(--blue);
  transition: 0.3s ease;
}

.social-icon:hover {
  color: var(--black);
}

.contact-container .btn {
  max-width: max-content;
  margin: auto;
}

.contact-btn:hover {
  opacity: 0.8;
}

/* Юридичні посилання */
.legal-links {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.legal-links a {
  color: #fff;
  text-decoration: underline;
  font-size: 14px;
  opacity: 0.9;
}

.legal-links a:hover {
  opacity: 0.6;
}

@media (max-width: 768px) {
  .contact-menu {
    gap: 15px;
  }
  .contact-btn {
    width: 80%;
  }
  .contact-logo img {
    width: 120px;
  }
}

.footer {
  background-color: var(--blue);
  padding: 5px;
  text-align: center;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  font-size: 13px;
  margin-top: 50px;
  position: relative;
  z-index: 10000;
}

@media (max-width: 998px) {
  .hero {
    background-size: cover;
    background-position: bottom;
    padding: 25px 20px 0 20px;
  }
  html,
  body {
    font-size: 14px;
  }
  .hero-text h1.logo,
  .big.logo {
    font-size: 2.2rem;
  }

  .big.logo span,
  .title {
    font-size: 3.2rem;
  }
  .hero-text h1.logo span {
    font-size: 2.8rem;
  }
  .list .circle {
    width: 90px;
    height: 90px;
    font-size: 0.7rem;
  }
  .hero-text p {
    font-size: 1.2rem;
    margin-bottom: 0;
  }
  .hero-text p span {
    font-size: 1.3rem;
  }
  .experience {
    margin-top: 30px;
    padding: 50px 20px;
    z-index: 1000;
    position: relative;
  }
  .title {
    margin-bottom: 30px;
  }

  .experience-description p {
    margin: 30px auto;
    font-size: 1.3rem;
    max-width: 100%;
  }
  .exp-item p {
    font-size: 1.4rem;
  }
  .service-card p {
    font-size: 1.4rem;
  }
  .services .hero-text {
    margin: 90px 20px;
  }
  .services .hero-text h1.logo span {
    margin-bottom: 0;
  }
  .faq {
    padding: 30px 20px 70px;
  }
  .faq .logo {
    font-size: 1.3rem;
  }
  .mobile-none {
    display: none;
  }
  .hero-text h1.logo i,
  .big.logo i {
    font-size: 1.2rem;
  }
  .hero-photo {
    width: 100vw;
    margin-left: -20px;
    margin-top: 35px;
    -webkit-mask-image:
      linear-gradient(
        to top,
        transparent 0%,
        rgba(0, 0, 0, 0.4) 8%,
        rgba(0, 0, 0, 0.7) 15%,
        rgba(0, 0, 0, 1) 30%
      ),
      linear-gradient(
        to right,
        transparent 0%,
        rgba(0, 0, 0, 0.5) 12%,
        rgba(0, 0, 0, 1) 30%
      );
    -webkit-mask-composite: source-in;
    mask-composite: intersect;
    mask-image:
      linear-gradient(
        to top,
        transparent 0%,
        rgba(0, 0, 0, 0.4) 8%,
        rgba(0, 0, 0, 0.7) 15%,
        rgba(0, 0, 0, 1) 30%
      ),
      linear-gradient(
        to right,
        transparent 0%,
        rgba(0, 0, 0, 0.5) 12%,
        rgba(0, 0, 0, 1) 30%
      );
  }
  .logo-img {
    max-width: 290px;
    margin: auto;
  }
  .sub-title p {
    font-size: 23px;
    line-height: 36px;
  }
  .experience-description {
    flex-direction: column;
    margin-bottom: 30px;
  }
  .sub-title {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 30px;
  }
  .service-img img {
    width: 70%;
    margin: auto;
  }
  .contact-section .experience-description .hero-photo {
    order: 1;
    margin-left: 0;
  }
  .contact-section .experience-description > div {
    order: 2;
  }
  .contact-socials a {
    font-size: 3.5rem;
  }
}

.none {
  display: none !important;
}
